// Variables
$primary-text: #52595f;
$secondary-text: #6c757d;
$accent-color: #007bff;
$nav-bg: #ffffff;
$border-color: #e9ecef;

.navbar {
  background-color: $nav-bg !important;
  border-bottom: 1px solid $border-color !important;


  .navbar-brand {
    font-weight: 600;
    font-size: 1.25rem;
    color: $primary-text;

    span {
      color: $accent-color;
    }
  }


  .navbar-nav {
    .nav-item {

      .nav-link {
        color: $secondary-text;
        font-weight: 500;
        padding: 0.5rem 1rem;


        &:hover,
        &:focus {
          color: $primary-text;
        }
      }

      .nav-link.active {
        color: $accent-color;
        position: relative;
        font-weight: 600;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(0);
          width: 100%;
          height: 3px;
          background-color: $accent-color;
          border-radius: 2px;
        }
      }
    }
  }

  .navbar-toggler {
    border-color: $border-color;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
    }
  }
}

header.sticky-top {
  z-index: 1020;
}
