@if (conditions; as condition ) {
<div class="weather-card">
  <h2 class="weather-card-title">{{ condition.city_name }}</h2>
  <div class="current-temp-section">
    <img [src]="'https://www.weatherbit.io/static/img/icons/' + condition.weather.icon + '.png'"
      [alt]="condition.weather.description" width="80" height="80">

    <div class="temp-details">
      <h2 class="temperature">{{ condition.temp }}°C</h2>
      <p class="description">{{ condition.weather.description }}</p>
    </div>
  </div>

  <div class="details-grid">

    <div class="detail-item detail-graph">
      <span class="detail-label">💧 Humedad</span>
      <span class="detail-value">{{ condition.rh }}%</span>
      <div class="progress mt-1" style="height: 5px;">
        <div class="progress-bar bg-info" role="progressbar" [style.width]="condition.rh + '%'"
          [attr.aria-valuenow]="condition.rh" aria-label="Nivel de humedad" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>

    <div class="detail-item">
      <span class="detail-label">Sensación</span>
      <span class="detail-value">{{ condition.app_temp }}°C</span>
    </div>
    <div class="detail-item">
      <span class="detail-label">💨 Viento</span>
      <span class="detail-value">{{ condition.wind_spd | number:'1.0-1'}} mph {{
        condition.wind_cdir_full }}</span>
    </div>
    <div class="detail-item">
      <span class="detail-label">Presión</span>
      <span class="detail-value">{{ condition.pres }} mb</span>
    </div>

    <div class="detail-item">
      <span class="detail-label">Índice UV</span>
      <span class="detail-value">{{ condition.uv | number:'1.0-0' }}</span>
      <div class="progress mt-1" style="height: 5px;">
        <div class="progress-bar bg-warning" role="progressbar"
          [style.width]="(condition.uv || 0 / 11) * 100 + '%'"
          [attr.aria-valuenow]="condition.uv" aria-label="Nivel de índice UV" aria-valuemin="0" aria-valuemax="11">
        </div>
      </div>
    </div>
    <div class="detail-item">
      <span class="detail-label">Visibilidad</span>
      <span class="detail-value">{{ condition.vis| number:'1.0-0' }}</span>
    </div>

    <div class="detail-item">
      <span class="detail-label">
        ☀️ Amanecer
      </span>
      <span class="detail-value">{{ condition.sunrise }} </span>
    </div>

    <div class="detail-item">
      <span class="detail-label">
        🌙 Atardecer
      </span>
      <span class="detail-value">{{ condition.sunset }} </span>
    </div>
  </div>

  <a [routerLink]="['/forecast', zipcode]" class="btn btn-link link-style mt-4">
    Ver pronostico de los proximos 5 dias
    <i class="bi bi-arrow-right ms-2"></i>
  </a>
</div>
} @else {
<div class="alert alert-danger d-flex align-items-center p-4 mt-4" role="alert" @cardFade>
  <i class="bi bi-exclamation-triangle-fill me-3" style="font-size: 1.5rem;"></i>
  <div>
    <h5 class="alert-heading">Error de Ubicación</h5>
    <p class="mb-0">
      No se pudieron cargar los datos.
      Por favor, asegúrate de que sea un código postal válido de EE.UU. y elimínalo
      para intentarlo de nuevo.
    </p>
  </div>
</div>
}
