<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" *ngFor="let tab of tabs" role="presentation">
    <a [id]="'tab-' + tab.id" class="nav-link" [class.active]="tab.id === activeTab()" (click)="selectTab(tab.id)"
      href="javascript:void(0)" role="tab" [attr.aria.selected]="tab.id === activeTab()">
      {{ tab.title }}
    </a>
    <button type="button" class="btn-close btn-close-sm ms-3" [attr.aria-label]="'Cerrar pestaña ' + tab.title + tab.id"
      (click)="closeTab($event, tab.id)"></button>
  </li>
</ul>

<div class="row">
  <div class="tab-content">
    <ng-container *ngFor="let tab of tabs">

      <div *ngIf="tab.id === activeTab()" role="tabpanel" [attr.aria-labelledby]="'tab-' + tab.id">
        <ng-container *ngTemplateOutlet="tabTemplate; context: { $implicit: tab.id}">
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>
